<div class="container">
  <div class="content">
    <button class="main-button" mat-raised-button color="primary" [matMenuTriggerFor]="items">
      <mat-icon>list</mat-icon>
      Items
    </button>
    @if (loading) {
      <app-loading></app-loading>
    }
    @if (nameCategory) {
      <h1 class="title-item"> {{ upperFirstLetter(nameCategory) }} </h1>
    }
    <mat-menu #items="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="pocket">Pocket Items</button>
    </mat-menu>

    <mat-menu #pocket="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="pokeballs">Pokeballs</button>
      <button mat-menu-item [matMenuTriggerFor]="medicine">Medicine</button>
      <button mat-menu-item [matMenuTriggerFor]="berries">Berries</button>
      <button mat-menu-item [matMenuTriggerFor]="machines">Machines</button>
      <button mat-menu-item [matMenuTriggerFor]="battle">Battle</button>
      <button mat-menu-item [matMenuTriggerFor]="mail">Mail</button>
      <button mat-menu-item [matMenuTriggerFor]="key">Key</button>
      <button mat-menu-item [matMenuTriggerFor]="misc">Misc</button>
    </mat-menu>

    <mat-menu #pokeballs="matMenu">
      <button mat-menu-item (click)="selectItem('item-category/33/')">Special Balls</button>
      <button mat-menu-item (click)="selectItem('item-category/34/')">Standard Balls</button>
      <button mat-menu-item (click)="selectItem('item-category/39/')">Apricorn Balls</button>
    </mat-menu>

    <mat-menu #medicine="matMenu">
      <button mat-menu-item (click)="selectItem('item-category/26/')">Vitamins</button>
      <button mat-menu-item (click)="selectItem('item-category/27/')">Healing</button>
      <button mat-menu-item (click)="selectItem('item-category/28/')">PP Recovery</button>
      <button mat-menu-item (click)="selectItem('item-category/29/')">Revival</button>
      <button mat-menu-item (click)="selectItem('item-category/30/')">Status Cures</button>
      <button mat-menu-item (click)="selectItem('item-category/50/')">Nature Mints</button>
    </mat-menu>

    <mat-menu #berries="matMenu">
      <button mat-menu-item (click)="selectItem('item-category/2/')">Effort Drop</button>
      <button mat-menu-item (click)="selectItem('item-category/3/')">Medicine</button>
      <button mat-menu-item (click)="selectItem('item-category/5/')">In a Pinch</button>
      <button mat-menu-item (click)="selectItem('item-category/6/')">Picky Healing</button>
      <button mat-menu-item (click)="selectItem('item-category/7/')">Type Protection</button>
      <button mat-menu-item (click)="selectItem('item-category/8/')">Baking Only</button>
      <button mat-menu-item (click)="selectItem('item-category/48/')">Catching Bonus</button>
      <button mat-menu-item (click)="selectItem('item-category/4/')">Other</button>
    </mat-menu>

    <mat-menu #machines="matMenu">
      <button mat-menu-item (click)="selectItem('item-category/37/')">All Machines</button>
    </mat-menu>

    <mat-menu #battle="matMenu">
      <button mat-menu-item (click)="selectItem('item-category/1/')">Stat Boosts</button>
      <button mat-menu-item (click)="selectItem('item-category/38/')">Flutes</button>
      <button mat-menu-item (click)="selectItem('item-category/43/')">Miracle Shooter</button>
    </mat-menu>

    <mat-menu #mail="matMenu">
      <button mat-menu-item (click)="selectItem('item-category/25/')">All Mail</button>
    </mat-menu>

    <mat-menu #key="matMenu">
      <button mat-menu-item (click)="selectItem('item-category/20/')">Event items</button>
      <button mat-menu-item (click)="selectItem('item-category/21/')">Gameplay</button>
      <button mat-menu-item (click)="selectItem('item-category/22/')">Plot Advancement</button>
      <button mat-menu-item (click)="selectItem('item-category/23/')">Unused</button>
      <button mat-menu-item (click)="selectItem('item-category/40/')">Apricorn Box</button>
      <button mat-menu-item (click)="selectItem('item-category/41/')">Data Cards</button>
      <button mat-menu-item (click)="selectItem('item-category/46/')">Z Crystals</button>
    </mat-menu>


    <mat-menu #misc="matMenu">
      <button mat-menu-item (click)="selectItem('item-category/9/')">Collectibles</button>
      <button mat-menu-item (click)="selectItem('item-category/10/')">Evolution</button>
      <button mat-menu-item (click)="selectItem('item-category/11/')">Spelunking</button>
      <button mat-menu-item (click)="selectItem('item-category/12/')">Held Itens</button>
      <button mat-menu-item (click)="selectItem('item-category/13/')">Choice</button>
      <button mat-menu-item (click)="selectItem('item-category/14/')">Effort Training</button>
      <button mat-menu-item (click)="selectItem('item-category/15/')">Bad Held Items</button>
      <button mat-menu-item (click)="selectItem('item-category/16/')">Training</button>
      <button mat-menu-item (click)="selectItem('item-category/17/')">Plates</button>
      <button mat-menu-item (click)="selectItem('item-category/18/')">Species Specific</button>
      <button mat-menu-item (click)="selectItem('item-category/19/')">Type Enhancement</button>
      <button mat-menu-item (click)="selectItem('item-category/24/')">Loot</button>
      <button mat-menu-item (click)="selectItem('item-category/32/')">Mulch</button>
      <button mat-menu-item (click)="selectItem('item-category/35/')">Dex Completion</button>
      <button mat-menu-item (click)="selectItem('item-category/36/')">Scarves</button>
      <button mat-menu-item (click)="selectItem('item-category/42/')">Jewels</button>
      <button mat-menu-item (click)="selectItem('item-category/44/')">Mega Stones</button>
      <button mat-menu-item (click)="selectItem('item-category/45/')">Memories</button>
      <button mat-menu-item (click)="selectItem('item-category/47/')">Species Candies</button>
      <button mat-menu-item (click)="selectItem('item-category/49/')">Dynamax Crystals</button>
      <button mat-menu-item (click)="selectItem('item-category/51/')">Curry Ingredients</button>
      <button mat-menu-item (click)="selectItem('item-category/52/')">Tera Shard</button>
      <button mat-menu-item (click)="selectItem('item-category/53/')">Sandwich Ingredients</button>
      <button mat-menu-item (click)="selectItem('item-category/54/')">TM Materials</button>
      <button mat-menu-item (click)="selectItem('item-category/55/')">Picnic</button>
    </mat-menu>

    <!-- Basic Filter Component -->
    <app-basic-filter 
      label="Filter a item from the list"
      placeholder="Ex. pokeball"
      (filterChange)="applyFilter($event)">
    </app-basic-filter>
    
    <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" multiTemplateDataRows matSort
      (matSortChange)="announceSortChange($event)">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">ID</th>
        <td mat-cell *matCellDef="let item"> {{ item.id }} </td>
      </ng-container>

      <!-- Sprite Column -->
      <ng-container matColumnDef="sprite">
        <th mat-header-cell *matHeaderCellDef>Sprite</th>
          <td mat-cell *matCellDef="let item">
            <img [src]="item.sprites.default != null? item.sprites.default : 'assets/not-found.png' "> </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
        <td mat-cell *matCellDef="let item"> {{ upperFirstLetter(item.name) }} </td>
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by value">Cost</th>
        <td mat-cell *matCellDef="let item"> {{ item.cost }} </td>
      </ng-container>

      <!-- Expand Column-->
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item" class="expand-cell">
          <button mat-icon-button aria-label="expand row" class="expand-button"
            (click)="(expandedElement = expandedElement === item ? null : item); $event.stopPropagation()">
            @if (expandedElement === item) {
              <mat-icon>keyboard_arrow_up</mat-icon>
            }
            @else {
              <mat-icon>keyboard_arrow_down</mat-icon>
            }
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let item" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="element-detail" [@detailExpand]="item == expandedElement ? 'expanded' : 'collapsed'">
            <div class="element-description">
              @if(item?.effect_entries.length == 0) {
                <span class="element-description-attribution"> No description </span>
              }
              @for (effect of item.effect_entries; track effect) {
                <span class="element-description-attribution"> {{effect.effect}} </span>
              }
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[10]" showFirstLastButtons
      aria-label="Select page of items"> 
    </mat-paginator>
  </div>
</div>