.container-nature {
    text-align: center;
    width: 100%;
    margin-top: 2em;
}

.content {
    background-color: white;
    border-radius: 10px;
    width: calc(100% - 1%);
    margin: 0.5%;
}

h1 {
    font-size: 25px;
    padding-top: 3px;
}

mat-card {
    width: calc(25% - 1%);
    margin: 0.5%;
    min-width: 250px;
    min-height: 250px;
    display: inline-block;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.text {
    margin: 1%;
    font-size: 15px;
    font-weight: normal;
}

.stats {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 1%;
}

.poke-image {
    width: 250px;
}

.example-stats {
    width: 350px;
    margin-bottom: 1%;
}

mat-card:hover {
    box-shadow: 2px 3px 3px 3px #cfd2e5;;
}

mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 25px;
}

.stats-image {
    width: 150px;
    height: auto;
}

p {
    margin-top: 3%;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.line {
    opacity: 25%;
}

@media(max-width: 1400px) {
    .stats-image {
        width: 120px;
    }

    p {
        font-size: 15px;
    }

    .title {
        font-size: 22px;
    }
}

@media(max-width: 950px) {
    .stats-image {
        width: 100px;
    }

    p {
        font-size: 13px;
    }

    .title {
        font-size: 19px;
    }
}