mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card-title {
  font-size: 23px;
  margin-bottom: 3px;
  border-radius: 5px;
  padding: 5px;
  color: white;
}