mat-toolbar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #3f51b5;
  margin-bottom: 1em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.158);
}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 80px;
  width: 80px;
  margin-left: 2%;
  display: flex;
  align-items: start;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.2);
}

.selects {
  margin-left: 2%;
}

.menu-list {
  margin-right: 2vh;
}

span {
  color: #FFF;
  display: inline-block;
  margin-right: 2em;
}

.spacer {
  flex: 1 1 auto;
}

.selected {
  background-color: #4c5fcc;
  border-radius: 8px;
}

a {
  color: white;
  text-decoration: none;
}

h2 {
  color: #FFF;
  padding-left: 1em;
  padding-top: 15px;
}

header {
  margin-top: 60px;
  width: 100%;
  background-color: #4c5fcc;
  border-bottom: 2px solid rgba(0, 0, 0, 0.158);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animate Icons */
.selects span img {
  transition: transform 0.3s ease;
}

.selects span:hover img {
  transform: translateY(-5px);
}
/* End Animate Icons */

.side-nav-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1003;
  background-color: #3f51b5;
  margin-top: 64px;
}

mat-nav-list {
  z-index: auto;
  background-color: #3f51b5;
  height: 500px;
  width: 140px;
}

mat-drawer-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidenav-icon {
  width: 26px;
  height: 26px;
}

@media (max-width: 1100px) {
  header {
    margin-top: 55px;
  }

  span {
    display: none;
  }

  .main-header .buttons {
    width: 100%;
    justify-content: end;
  }

}

@media (max-width: 605px) {
  .side-nav-left {
    margin-top: 55px;
  }

}