<mat-toolbar #toolbar>
  <mat-toolbar-row class="main-header">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Logo PokeApi -->
    <a routerLink="/home"><img class="logo" src="../../../assets/pokeapi_logo.png" alt="Site icon"></a>

    <div class="selects">
      <span [ngClass]="{'selected': selectedSpan === 'home'}"><a mat-button routerLink="/home" matTooltip="Home"
          (click)="selectSpan('home')">
          <img src="../../../assets/home_icon.png" alt="Home icon">
        </a>
      </span>
      <span [ngClass]="{'selected': selectedSpan === 'pokedex'}"><a mat-button routerLink="/pokedex"
          matTooltip="Pokedex" (click)="selectSpan('pokedex')">
          <img src="../../../assets/pokedex_icon.png" alt="Pokedex icon">
        </a>
      </span>
      <span [ngClass]="{'selected': selectedSpan === 'moves'}"><a mat-button routerLink="/moves" matTooltip="Moves"
          (click)="selectSpan('moves')">
          <img src="../../../assets/moves_icon.png" alt="Moves icon">
        </a>
      </span>
      <span [ngClass]="{'selected': selectedSpan === 'items'}"><a mat-button routerLink="/items" matTooltip="Items"
          (click)="selectSpan('items')">
          <img src="../../../assets/item_icon.png" alt="Items icon">
        </a>
      </span>
      <span [ngClass]="{'selected': selectedSpan === 'battle'}"><a mat-button routerLink="/battle" matTooltip="Battle"
          (click)="selectSpan('battle')">
          <img src="../../../assets/battle_icon.png" alt="Battle icon">
        </a>
      </span>
      <span [ngClass]="{'selected': selectedSpan === 'abilities'}"><a mat-button routerLink="/abilities"
          matTooltip="Abilities" (click)="selectSpan('abilities')">
          <img src="../../../assets/abilitie_icon.png" alt="Abilities icon">
        </a>
      </span>
      <span [ngClass]="{'selected': selectedSpan === 'natures'}"><a mat-button routerLink="/natures"
          matTooltip="Natures" (click)="selectSpan('natures')">
          <img src="../../../assets/nature_icon.png" alt="Natures icon">
        </a>
      </span>
      <span [ngClass]="{'selected': selectedSpan === 'location'}"><a mat-button routerLink="/location"
        matTooltip="Location" (click)="selectSpan('location')">
        <img src="../../../assets/location_icon.png" alt="Location icon">
      </a>
    </span>
    </div>
    <span class="spacer"></span>
    <div class="buttons">
      <button class="dark-mode" mat-button (click)="toggleDarkMode()">
        <mat-icon>brightness_medium</mat-icon>
      </button>
      <a href="https://github.com/Diagnoster/pokeapi-angular">
        <button mat-icon-button aria-label="Favorite icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

@if (!hideHeader) {
  <header class="docs-primary-header component-page-header">
    <h2>{{ componentName | upperFirstLetter }}</h2>
  </header>
}

<mat-drawer-container>
  <mat-sidenav #snav class="side-nav-left" position="start" role="directory" [opened]="opened" mode="over" (closedStart)="opened = false">
    <mat-nav-list>
      <a mat-list-item routerLink="/home"><img class="sidenav-icon" src="../../../assets/home_icon.png" alt="Home icon"> Home</a>
      <a mat-list-item routerLink="/pokedex"><img class="sidenav-icon" src="../../../assets/pokedex_icon.png" alt="Pokedex icon"> Pokedex</a>
      <a mat-list-item routerLink="/moves"><img class="sidenav-icon" src="../../../assets/moves_icon.png" alt="Move icon"> Moves</a>
      <a mat-list-item routerLink="/items"><img class="sidenav-icon" src="../../../assets/item_icon.png" alt="Item icon"> Items</a>
      <a mat-list-item routerLink="/abilities"><img class="sidenav-icon" src="../../../assets/abilitie_icon.png" alt="Abilitie icon"> Abilities</a>
      <a mat-list-item routerLink="/natures"><img class="sidenav-icon" src="../../../assets/nature_icon.png" alt="Nature icon"> Natures</a>
      <a mat-list-item routerLink="/battle"><img class="sidenav-icon" src="../../../assets/battle_icon.png" alt="Battle icon"> Battle</a>
      <a mat-list-item routerLink="/location"><img class="sidenav-icon" src="../../../assets/location_icon.png" alt="Location icon"> Location</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-drawer-container>
