@for (ab of ability; track ab) {
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> {{ upperFirstLetter(ab.name) }} </mat-card-title>
      <mat-card-subtitle>
        {{ ab.generation.name }}
      </mat-card-subtitle>
    </mat-card-header>
    @if (ab.effect_entries.length > 0) {
      @if (ab.effect_entries[0].language.name === 'en') {
        <mat-card-content>
          <p> {{ ab.effect_entries[0].effect }} </p>
        </mat-card-content>
      } @else if (ab.effect_entries.length > 1 && ab.effect_entries[1].language.name === 'en') {
        <mat-card-content>
          <p> {{ ab.effect_entries[1].effect }} </p>
        </mat-card-content>
      }
    }
  </mat-card>
}
