<mat-toolbar #toolbar>
  <mat-toolbar-row class="main-header">
    <button class="menu-list" mat-button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>list</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below">
      <button mat-menu-item routerLink="/home">Home</button>
      <button mat-menu-item routerLink="/pokedex">Pokedex</button>
      <button mat-menu-item routerLink="/moves">Moves</button>
      <button mat-menu-item routerLink="/items">Items</button>
      <button mat-menu-item routerLink="/abilities">Abilities</button>
      <button mat-menu-item routerLink="/natures">Natures</button>
    </mat-menu>
    <button mat-button>
      <a routerLink="/home"><img class="logo" src="../../../assets/pokeapi_logo.png" alt="Icone site"></a>
    </button>
    <span [ngClass]="{'selected': selectedSpan === 'home'}"><a mat-button routerLink="/home" (click)="selectSpan('home')">Home</a></span>
    <span [ngClass]="{'selected': selectedSpan === 'pokedex'}"><a mat-button routerLink="/pokedex" (click)="selectSpan('pokedex')">Pokedex</a></span>
    <span [ngClass]="{'selected': selectedSpan === 'moves'}"><a mat-button routerLink="/moves" (click)="selectSpan('moves')">Moves</a></span>
    <span [ngClass]="{'selected': selectedSpan === 'items'}"><a mat-button routerLink="/items" (click)="selectSpan('items')">Items</a></span>
    <span [ngClass]="{'selected': selectedSpan === 'battle'}"><a mat-button routerLink="/battle" (click)="selectSpan('battle')">Battle</a></span>
    <span [ngClass]="{'selected': selectedSpan === 'abilities'}"><a mat-button routerLink="/abilities" (click)="selectSpan('abilities')">Abilities</a></span>
    <span [ngClass]="{'selected': selectedSpan === 'natures'}"><a mat-button routerLink="/natures" (click)="selectSpan('natures')">Natures</a></span>
    <span class="spacer"></span>
    <a href="https://github.com/Diagnoster/pokeapi-angular">
      <button mat-icon-button class="favorite-icon" aria-label="Favorite icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
@if (!hideHeader) {
  <header class="docs-primary-header component-page-header">
    <h2> {{ componentName }} </h2>
  </header>
}