<mat-toolbar #toolbar>
  <mat-toolbar-row class="main-header">
    <button mat-button>
      <a routerLink="/home"><img class="logo" src="../../../assets/pokeapi_logo.png" alt="Icone site"></a>
    </button>
    <span [ngClass]="{'selected': selectedSpan === 'home'}"><a mat-button routerLink="/home" (click)="selectSpan('home')">Home</a></span>
    <span [ngClass]="{'selected': selectedSpan === 'pokedex'}"><a mat-button routerLink="/pokedex" (click)="selectSpan('pokedex')">Pokedex</a></span>
    <span [ngClass]="{'selected': selectedSpan === 'moves'}"><a mat-button routerLink="/moves" (click)="selectSpan('moves')">Moves</a></span>
    <span [ngClass]="{'selected': selectedSpan === 'items'}"><a mat-button routerLink="/items" (click)="selectSpan('items')">Items</a></span>
    <span class="spacer"></span>
    <a href="https://github.com/Diagnoster/pokeapi-angular">
      <button mat-icon-button class="favorite-icon" aria-label="Favorite icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<header class="docs-primary-header component-page-header">
  <h2> {{ componentName }} </h2>
</header>