mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #3f51b5;
  margin-bottom: 1em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.158);
}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 80px;
  width: auto;
  padding-top: 4px;
  margin-right: 2em;
}

.menu-list {
  margin-right: 2em;
}

span {
  color: #FFF;
  display: inline-block;
  margin-right: 2em;
}

.spacer {
  flex: 1 1 auto;
}

.selected {
  background-color: #4c5fcc;
  border-radius: 8px;
}

a {
  color: white;
  text-decoration: none;
}

h2 {
  color: #FFF;
  padding-left: 1em;
  padding-top: 15px;
}

header {
  margin-top: 60px;
  width: 100%;
  background-color: #4c5fcc;
  margin-bottom: 1em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.158);
}

@media (max-width: 930px) {
  header {
    margin-top: 55px;
  }

  span {
    display: none;
  }

  .menu-list {
    margin-right: 1em;
  }

  .mat-toolbar .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed {
    flex: 1 1 auto;
  }
}