
<div class="container">
    @for(nature of natureDetails; track nature) {
        <mat-card>
            <mat-card-header>
                <mat-card-title class="title"> {{ upperFirstLetter(nature.name) }} </mat-card-title>
            </mat-card-header>
            <div class="line"></div>
            <mat-card-content>
                @if(nature.increased_stat != null) {
                    
                    <div>
                        <p> {{upperFirstLetter(nature.increased_stat.name)}}</p>
                        <img class="stats-image" src="../../../assets/up_stats64.png" alt="up stats pixel art" />
                    </div>
                    <div>
                        <p> {{upperFirstLetter(nature.decreased_stat.name)}}</p>
                        <img class="stats-image" src="../../../assets/down_stats64.png" alt="down stats pixel art" />
                    </div>
                    
                    
                }
                @else {
                    <span>No changes</span>
                }
            </mat-card-content>
        </mat-card>
    }
</div>