
<div class="container">
    @for(nature of natureDetails; track nature) {
        <mat-card>
            <mat-card-header>
                <mat-card-title class="title"> {{ upperFirstLetter(nature.name) }} </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                @if(nature.increased_stat != null) {
                    <span> {{upperFirstLetter(nature.increased_stat.name)}}</span>
                    <img class="stats-image" src="../../../assets/down_stats64.png" alt="pokeball" />
                    <img class="stats-image" src="../../../assets/up_stats64.png" alt="pokeball" />
                    <span> {{upperFirstLetter(nature.decreased_stat.name)}}</span>
                }
                @else {
                    <span>No changes</span>
                }
            </mat-card-content>
        </mat-card>
    }
</div>