.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

.content {
  width: calc(100% - 4%);
  margin: 2%;
}

h1 {
  font-size: 30px;
  text-align: center;
}

p, h2 {
  font-weight: bold;
}

mat-form-field {
  width: 100%;
  margin-bottom: -1% !important;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-description {
  padding: 16px;
  margin-bottom: 5px;
  width: 100%;
}

.element-description-attribution {
  display: block;
  opacity: 0.5;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.expand-cell {
  position: relative;
}

.expand-button {
  position: absolute;
  top: 0;
  left: 0;
}

.box {
  display: flex;
  justify-content: center;  
  align-items: center;  
  margin-bottom: 6px;
}

.box p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

mat-card {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.gen {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gen-button {
  background-color: rgb(194, 190, 190);
  padding: 3px;
  margin: 5px;
  font-size: 12px;
}

.move-info {
  margin-right: 6px;
}

.icon-filter-container {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.icon-image {
  width: 50px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
  margin-right: 5px;
}

.filter-button {
  background-color: rgb(194, 190, 190);
  margin: 2px;
  font-size: 12px;
}

.filter-title {
  text-align: center;
}

table {
  margin-top: 1%;
}