.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.pokedex-container,
.move-container,
.items-container {
    width: 100%;
    height: 33.33%;
    min-height: 250px;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
}

.pokedex-container img,
.move-container img,
.items-container img {
    max-width: 90%;
    height: 28vh;
    transition: transform 1.8s ease;
    position: absolute;
    min-height: 200px;
}

.pokedex-container {
    background: rgb(173,58,180);
    background: linear-gradient(90deg, #1C86EE, #6495ED, #B0E0E6);
    justify-content: flex-start;
    margin-top: 3%;
}

.move-container {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #4169E1, #4682B4, #87CEEB);
    justify-content: center;
}

.items-container {
    background: rgb(34,193,195);
    background: linear-gradient(90deg, #27408B, #3A5FCD, #778899);
    justify-content: flex-end;
}

.pokedex-container:hover img {
    transform: translateX(30%);
}

.move-container:hover img {
    transform: translateX(25%);
}

.items-container:hover img {
    transform: translateX(-30%);
}

.pokedex-container,
.move-container,
.items-container {
    transition: opacity 0.3s ease;
}

.pokedex-container:hover {
    background: linear-gradient(90deg, #1A76CE, #5485DD, #A0D0E6);
}

.move-container:hover {
    background: linear-gradient(90deg, #3755C1, #4072A4, #77B6EB);
}

.items-container:hover {
    background: linear-gradient(90deg, #22326B, #3353B0, #6E8289);
}

@media (min-width: 1300px) {
    .pokedex-container:hover img, 
    .move-container:hover img {
        transform: translateX(43%);
    }

    .items-container:hover img {
        transform: translateX(-43%);
    }
}

@media (max-width: 970px) {
    .pokedex-container:hover img, 
    .move-container:hover img {
        transform: translateX(13%);
    }

    .items-container:hover img {
        transform: translateX(-13%);
    }
}