<div class="main-container" @fadeInUp>
  <h1>Areas</h1>
  <mat-divider></mat-divider>

  <div class="areas-container">
    @for(area of locationDetails?.areas; track area) {
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> {{ area.name | upperFirstLetter }} </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="searchLocationAreaDetails(area.url)">Show Pokémons</button>
        </mat-card-actions>
      </mat-card>
    }
  </div>

  <h2>Encounter Methods</h2>
  <mat-divider></mat-divider>

  <div class="methods">
    @if(this.locationArea?.encounter_method_rates) {
      @for(methods of this.locationArea?.encounter_method_rates; track methods) {
        <mat-card appearance="outlined" class="card-methods">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <img src="../../../assets/encounter-methods/{{methods.encounter_method.name}}.png" alt="{{methods.encounter_method.name}} icon">          
            </div>
            <mat-card-title> {{ methods.encounter_method.name | upperFirstLetter }}</mat-card-title>
          </mat-card-header>
        </mat-card>
      }
    }
    @else {
      <p><b>Select Area for looking methods</b></p>
    }
  </div>

  <h2>Pokémon found</h2>

  <!-- Basic Filter Component -->
  <app-basic-filter 
    label="Filter" 
    placeholder="Ex. Safari"
    (filterChange)="applyFilter($event)">
  </app-basic-filter>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Pokémon Column -->
    <ng-container matColumnDef="pokemon">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Pokémon </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="pokemon-column">
          <p><img class="poke-icon" src="{{element.icon}}" alt="Pokémon icon" (click)="pokeModal(element.name)"></p>
          <p>{{ element.name | upperFirstLetter }}</p>
        </div>
      </mat-cell>
    </ng-container>
  
    <!-- Chance Column -->
    <ng-container matColumnDef="chance">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Chance </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="chance-column">
          <p class="catch"><strong>Appear: {{element.chance}}%</strong></p>
          <p class="min-lvl">Min Lvl: {{element.min_level}}</p>
          <p class="max-lvl">Max Lvl: {{element.max_level}}</p>
        </div>
      </mat-cell>
    </ng-container>
  
    <!-- Version Column -->
    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Version </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
          {{ element.version | upperFirstLetter }}
      </mat-cell>
    </ng-container>
  
    <!-- Method Column -->
    <ng-container matColumnDef="method">
      <mat-header-cell *matHeaderCellDef> Method </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
          <img class="method-img" src="../../../assets/encounter-methods/{{element.method}}.png" matTooltip="{{element.method}}" alt="Moves icon">
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>