<div class="container">
    <div class="menu">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{upperFirstLetter(location.name)}}</mat-card-title>
            </mat-card-header>
            <img class="img" mat-card-image src="{{location.img}}" alt="city image">
            <mat-card-content>
                <div class="section">
                    <mat-card-title>Pokedexes</mat-card-title>
                    <mat-divider></mat-divider>
                    @for(pokedex of location.pokedexes; track pokedex) {
                        <p>{{upperFirstLetter(pokedex.name)}}</p>
                    }
                </div>
                <div class="section">
                    <mat-card-title>Version</mat-card-title>
                    <mat-divider></mat-divider>
                    @for(ver of location.version_groups; track ver) {
                        <p>{{upperFirstLetter(ver.name)}}</p>
                    }
                </div>
                <div class="section">
                    <mat-card-title>Main Generation</mat-card-title>
                    <mat-divider></mat-divider>
                    <p>{{upperFirstLetter(location.main_generation.name)}}</p>
                </div>
                <div class="section">
                    <mat-card-title>Introduction</mat-card-title>
                    <mat-divider></mat-divider>
                    <p>Red and Green</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="text">
        <p>
            A região de Kanto (japonês: カントー地方 região de Kanto) é uma região do mundo Pokémon. Kanto está localizada a leste de Johto, 
            que juntas formam uma massa de terra conjunta ao sul de Sinnoh. Kanto é o cenário da primeira geração de jogos e pode ser explorado 
            nas Gerações II, III, IV e VII.<br> Professor Carvalho é o Professor Pokémon residente e dá aos Treinadores Pokémon uma escolha entre 
            Bulbasaur, Charmander ou Squirtle como seu primeiro parceiro Pokémon.<br> Em Pokémon Yellow, Carvalho pretendia dar ao jogador um Eevee, 
            mas depois que seu neto Blue o pega, ele dá ao jogador um Pikachu que ele tinha acabado de capturar. Em Pokémon: Let's Go, Pikachu!, 
            o jogador escolhe Pikachu, enquanto em Pokémon: Let's Go, Eevee!, o jogador escolhe Eevee.<br> Nos jogos, o jogador começa sua jornada 
            em Pallet Town e termina no Indigo Plateau.
        </p>
        <h2>Location</h2>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <mat-header-cell mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element"> {{upperFirstLetter(element.name)}} </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5]" showFirstLastButtons
            aria-label="Select page of items">
        </mat-paginator>            
    </div>
</div>
