.battle-container {
  display: flex;
  width: 500px;
  height: 400px;
  background-image: url("/assets/battle_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
}

.name-card {
  background-color: white;
}

.enemy-container {
  width: 500px;
  height: 35%;
  display: flex;
}

.pokemon-container {
  width: 500px;
  height: 35%;
  display: flex;
  justify-content: space-between;
}

.enemy-stats {
  width: 250px;
  height: 20%;
  margin: 2%;
}

.poke-stats2 {
  width: 240px;
  margin: 1%;
  align-self: flex-end;
}

.player-info {
  width: 200px;
  margin: 1%;
  background-color: #476e81;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-radius: 10px;
}

.move-set {
  width: 60%;
  background-color: rgb(223, 223, 223);
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-style: groove;
  border-radius: 10px;
}

.move-name {
  width: 47%;
  height: 45%;
  margin: 1%;
  text-align: center;
  cursor: pointer;
}

.player-container {
  width: 100%;
  display: flex;
  height: 30%;
}

.pokemon-image {
  align-self: flex-end;
  align-items: flex-end;
  margin-left: 15%;
}

.battle-text {
  color: white;
}

.custom-progress-bar {
  width: 70%;
  height: 13px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 0 2px white;
  border: 2px solid black;
}

.custom-progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 4px;
  border-color: rgb(61, 61, 61);
  transition: width 0.4s ease-in-out;
}