.overflow-container {
  overflow: auto;
  max-height: calc(100vh - 100px);
  max-width: 750px;
}

.title {
  font-size: 25px;
  padding-left: 2px;
}

mat-card-title-group {
  display: flex;
  justify-content: center;
}

.title-type {
  font-size: 20px;
  padding-left: 2px;
  padding-right: 1em;
  padding-top: 9px;
  display: flex;
}

.pokemon-info-container {
  display: flex;
  margin-bottom: 4px;
}

.pokemon-artwork {
  width: 300px;
  height: auto;
}

.types {
  display: flex;
  justify-content: center;
  align-items: center;
}

.abilities {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abilities-card {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-stat {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(238, 52, 52);
  text-shadow: 1px 1px 2px rgb(112, 0, 0);
  margin-bottom: 2%;
  margin-top: 2%;
}

.name-stat {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px black;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-total-stat {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(77, 17, 17);
  font-size: 20px;
  margin-bottom: 10%;
  margin-top: 10%;
  display: flex;
}

.progress-bar {
  height: 10px;
  padding-bottom: 2px;
  margin-left: 10px;
}

.type-info {
  display: flex;
  margin-bottom: 2px;
}

.type-icon {
  width: 40px;
  height: 40px;
  padding-right: 3px;
}

.type-relations-container {
  display: flex;
}

.type-relations {
  display: flex;
  margin-right: 3px;
}

.pokeinfo-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375vh;
}

.pokestats-right {
  width: 375vh;
}

.text-center {
  text-align: center;
}

.title-ability {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(77, 17, 17);
  font-size: 20px;
  margin-bottom: 1em;
}

.name-ability {
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 10px;
  text-align: center;
}

.icon {
  vertical-align: middle;
  font-size: 18px;
}

.name-ability:hover {
  color: white;
}

.custom-progress-bar {
  width: 70%;
  height: 13px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.custom-progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 4px;
  border-color: rgb(61, 61, 61);
}

.pokemon-ability-container {
  display: flex;
}


@media (max-width: 890px) {
  .pokemon-info-container {
    flex-wrap: wrap;
  }

  .pokemon-info-container {
    justify-content: center;
    display: flex;
  }

  .title-stat {
    font-size: 18px;
  }

  .title-total-stat {
    margin-left: 55px;
  }

  .stats {
    width: 100%;
  }

  mat-progress-bar {
    padding-bottom: 5px;
  }

  mat-card-title-group {
    justify-content: center;
  }

}

@media (max-width: 660px) {
  .progress-bar {
    padding-bottom: 2px;
    margin-left: 1px;
    margin-right: 5px;
    height: 4px;
  }
}