<div class="card-container">
  <mat-card class="pokemon-detail">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="title">{{ pokemon.name }}</mat-card-title>
        <mat-card-subtitle>Extra large</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <div class="pokemon-info-container">
      <img class="pokemon-artwork" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon.id}}.png" alt="Imagem {{ pokemon.name }}">
      <div class="pokemon-stats">
        <div *ngFor="let stats of pokemon.stats">
           {{ stats.stat.name }} - {{ stats.base_stat }}
        </div>
      </div>
    </div>
    <mat-card-content>
      <div>
        algo embaixo
      </div>
    </mat-card-content>
  </mat-card>
</div>