.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

h1 {
  font-size: 30px;
  text-align: center;
}

.content {
  width: 75%;
}

mat-form-field {
  width: 100%;
  margin-bottom: -2em;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

@media (max-width: 640px) {
  .content {
    width: calc(100% - 4%);
    margin: 2%;
  }
}