.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

.content {
  width: calc(100% - 4%);
  margin: 2%;
}

h1 {
  font-size: 30px;
  text-align: center;
}

.pokemon-artwork {
  width: 37px;
  height: 35px;
  transition: transform 0.3s ease;
}

.pokemon-artwork:hover {
  transform: scale(1.3);
  cursor: pointer;
  background: rgb(235, 165, 165);
  border-radius: 20px;
}

.mat-mdc-card-content {
  display: flex;
  flex-wrap: wrap;
}

.poke-box {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 150px;
  min-width: 150px;
}

.text {
  font-weight: bold;
  text-align: center;
}

.poke-box:hover {
  cursor: pointer;
  background: #4c5fcc;
}

.poke-box:hover .text {
  color: white;
}

mat-form-field {
  width: 100%;
  margin-bottom: -2em;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.expand-cell {
  position: relative;
}

.expand-button {
  position: absolute;
  top: 0;
  left: 0;
}

mat-card {
  display: table-row;
}

p {
  font-weight: bold;
}