.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.location-card {
    border-radius: 10px;
    align-items: center;
}

.img {
    width: 350px;
    height: 200px;
}
