<div class="container">
    <div class="player-pokemon">
        @if (playerPokemon ) {
        <mat-card class="example-card">
            <div class="info-poke">
                <mat-card-header>
                    <mat-card-title class="title"> {{ upperFirstLetter(playerPokemon.name, false) }} </mat-card-title>
                    <mat-card-subtitle>
                        @for (poke of playerPokemon.types; track poke) {
                        <div clas="type-info">
                            <img class="type-icon" [src]="getTypeDetailImageUrl(poke.type.name)" alt="Tipo do Pokémon">
                        </div>
                        }
                    </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="pokemon-artwork"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{playerPokemon.id}}.png"
                alt="Imagem {{ playerPokemon.name }}">
            </div>
            <mat-card-content>
                <div class="pokemon-stats">
                    <span class="title-stat"> Stats </span>
                    @for (stats of playerPokemon.stats; track stats) {
                    <div class="stats">
                        <span class="name-stat"> {{ upperFirstLetter(stats.stat.name) }} : {{ stats.base_stat }} </span>
                        <mat-progress-bar class="progress-bar" mode="determinate"
                            value="{{( stats.base_stat / 255) * 100 }}"></mat-progress-bar>
                    </div>
                    }
                </div>
            </mat-card-content>
        </mat-card>
        } 
        @else {
            <div class="pokemon-empty">
                <h2 class="title-empty">Select Pokémon for battle!</h2>
            </div>
        }
    </div>
    <div class="choose-pokemon">
        <mat-form-field>
            <mat-label>Search Pokémon</mat-label>
            <input matInput [matAutocomplete]="autoPlayer" [(ngModel)]="selectedPokemonPlayer"
                placeholder="Filter a pokémon from the list">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('player')">
                <mat-icon>cancel</mat-icon>
            </button>
            <mat-autocomplete autoActiveFirstOption #autoPlayer="matAutocomplete"
                (optionSelected)="onPlayerOptionSelected($event)">
                @for (poke of allPokemonListPlayer; track poke) {
                @if (poke.name.includes(selectedPokemonPlayer.toLowerCase())) {
                <mat-option [value]="poke.name">
                    {{poke.name}}
                </mat-option>
                }
                }
            </mat-autocomplete>
        </mat-form-field>
        <p> VS </p>
        <mat-form-field>
            <mat-label>Search Pokémon</mat-label>
            <input matInput [matAutocomplete]="autoEnemy" [(ngModel)]="selectedPokemonEnemy"
                placeholder="Filter a pokémon from the list">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('enemy')">
                <mat-icon>cancel</mat-icon>
            </button>
            <mat-autocomplete autoActiveFirstOption #autoEnemy="matAutocomplete"
                (optionSelected)="onEnemyOptionSelected($event)">
                @for (poke of allPokemonListEnemy; track poke) {
                @if (poke.name.includes(selectedPokemonEnemy.toLowerCase())) {
                <mat-option [value]="poke.name">
                    {{poke.name}}
                </mat-option>
                }
                }
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="enemy-pokemon">
        <mat-card class="example-card">
            @if (enemyPokemon) {
            <div class="info-poke">
                <mat-card-header>
                    <mat-card-title class="title"> {{ upperFirstLetter(enemyPokemon.name, false) }} </mat-card-title>
                    <mat-card-subtitle>
                        @for (poke of enemyPokemon.types; track poke) {
                        <div clas="type-info">
                            <img class="type-icon" [src]="getTypeDetailImageUrl(poke.type.name)" alt="Tipo do Pokémon">
                        </div>
                        }
                    </mat-card-subtitle>
                    <img mat-card-image class="pokemon-artwork"
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{enemyPokemon.id}}.png"
                    alt="Imagem {{ enemyPokemon.name }}">
                </mat-card-header>
            </div>
            <mat-card-content>
                <div class="pokemon-stats">
                    <span class="title-stat"> Stats </span>
                    @for (stats of enemyPokemon.stats; track stats) {
                    <div class="stats">
                        <span class="name-stat"> {{ upperFirstLetter(stats.stat.name) }} : {{ stats.base_stat }} </span>
                        <mat-progress-bar class="progress-bar" mode="determinate"
                            value="{{( stats.base_stat / 255) * 100 }}"></mat-progress-bar>
                    </div>
                    }
                </div>
            </mat-card-content>
            }
        </mat-card>
    </div>
</div>