.container {
  display: flex;
  width: 100%;
}

.choose-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.select-pokemon {
  width: 100%;
}

.enemy-pokemon {
  width: 100%;
}

app-moves {
  width: calc(96% - 4%);
  margin: 2%;
}

.example-card {
  display: flex;
  flex-direction: row;
  width: calc(96% - 4%);
  margin: 2%;
}

.pokemon-artwork {
  width: 140px;
  height: auto;
}

.vs-image {
  width: 230px;
  height: auto;
}

.battle-button {
  background-color: #3F51B5;
  color: white;
  cursor: pointer;
}

.type-icon {
  width: 30px;
  height: 30px;
  margin-right: 2px;
}

.title-choose {
  align-items: center;
  width: 100%;
}

.pokemon-empty {
  display: flex;
  background-color: white;
  width: calc(96% - 4%);
  margin: 2%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.info-poke {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.pokemon-stats {
  align-items: center;
  margin-top: 1em;
}

.name-stat {
  font-weight: bold;
}

.move-set {
  display: flex;
  width: calc(96% - 4%);
  margin: 2%;
  flex-wrap: wrap;
  border-radius: 5px;
  justify-content: center;
  padding-bottom: 10px;
}

.move-name {
  width: calc(49% - 1%);
  margin: 0.5%;
  text-align: center;
}

.title-item {
  color: white; 
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
  text-align: center;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-title {
  font-size: 20px;
  margin-bottom: 2px;
}

mat-card-content {
  flex: 1;
  align-items: center;
  justify-content: center;
}

mat-progress-bar {
  height: 10px;
}

mat-card-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media(max-width: 990px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}