<div class="container">
  <div class="content">
    @if (loading) {
      <div class="loading">
        <img class="pokeball pokeball-spinner" src="../../../assets/pokeball.png" alt="pokeball" />
      </div>
      <p>Loading...</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <div class="filter">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput 
          (keyup)="applyFilter($event)" 
          placeholder="Filter a movement from the list" 
          #input />
      </mat-form-field>
      <button class="reset-button" mat-raised-button color="primary" (click)="reloadPokemonList()">Reset</button>
    </div>
    @for (pokemon of pokemonList; track pokemon) {
      <mat-card class="example-card"
        [ngStyle]="{ 'background': getColorForType(pokemon.types[0].type.name) }"
        (click)="pokeModal(pokemon)">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title class="pokemon-name"> {{ upperFirstLetter(pokemon.name) }} </mat-card-title>
            <mat-card-subtitle>
              @for (poke of pokemon.types; track poke) {
                <div>
                  <img [src]="getTypeRetroImageUrl(poke.type.name)" alt="Tipo do Pokémon">
                </div>
              }
            </mat-card-subtitle>
            <img [src]="pokemon.sprites.front_default" alt="Imagem do pokémon {{pokemon.name}}">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <span></span>
          <div class="poke-number">
            <span> # {{ pokemon.id }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>