<div class="container">
  <mat-card class="example-card" *ngFor="let pokemon of pokemonList" 
    [ngStyle]="{ 'background': getColorForType(pokemon.types[0].type.name) }"
    (click)="pokeModal(pokemon)">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title> {{ upperFirstLetter(pokemon.name) }} </mat-card-title>
        <mat-card-subtitle>
          <div *ngFor="let poke of pokemon.types">
            <img [src]="getTypeImageUrl(poke.type.name)" alt="Tipo do Pokémon">
          </div>
        </mat-card-subtitle>
        <img [src]="pokemon.sprites.front_default" alt="Imagem do pokémon {{pokemon.name}}">        
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <span></span>
      <div class="numero-jiggly">
        <span> # {{ pokemon.id }}</span>
      </div>
      <!--<img class="jiggly" *ngIf="pokemon.id" src="../../../assets/jigglyID.png" alt="Jiggly Image">-->
    </mat-card-content>
  </mat-card>
</div>