<div class="container">
  <div class="content">
    <div class="filter">
      <mat-form-field>
        <mat-label>Search Pokémon</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="pokemon" (selectionChange)="onPokemonSelectionChange()">
          <mat-option *ngFor="let poke of pokeList" [value]="poke.name">{{ poke.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="reset-button" mat-raised-button color="primary" (click)="reloadPokemonList()">Reset</button>
    </div>
    <mat-paginator 
      [length]="totalPokemons.length"
      [pageSize]="30"
      [pageSizeOptions]="[30]"
      showFirstLastButtons
      (page)="onPageChange($event)"
      aria-label="Select page">
    </mat-paginator>
    @for (pokemon of pokemonList; track pokemon) {
      <mat-card class="example-card"
        [ngStyle]="{ 'background': getColorForType(pokemon.types[0].type.name) }"
        (click)="pokeModal(pokemon)">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title> {{ upperFirstLetter(pokemon.name) }} </mat-card-title>
            <mat-card-subtitle>
              @for (poke of pokemon.types; track poke) {
                <div>
                  <img [src]="getTypeRetroImageUrl(poke.type.name)" alt="Tipo do Pokémon">
                </div>
              }
            </mat-card-subtitle>
            <img [src]="pokemon.sprites.front_default" alt="Imagem do pokémon {{pokemon.name}}">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <span></span>
          <div class="poke-number">
            <span> # {{ pokemon.id }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>