<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/tm-normal.png" />
    </div>
    <mat-card-title class="title">
      Learned by Pokémon
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @for (poke of pokemon; track poke) {
      <div class="poke-box" (click)="pokeModal(poke.name)">
        <span class="text">{{ upperFirstLetter(poke.name) }}</span>
      </div>
    }
  </mat-card-content>
</mat-card>