<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/tm-normal.png" />
    </div>
    <mat-card-title class="title">
      Learned by Pokémon
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @for (poke of pokemon; track poke) {
      @if (extractValidPokemon(poke) === true) {
        <div class="poke-box" (click)="pokeModal(getPokemonNameForDetails(poke))">
          <span class="text">{{ getPokemonName(poke) }}</span>
        </div>
      }
    }
  </mat-card-content>
</mat-card>