<div class="container">
  <div class="content">
    @if (loading) {
    <div class="loading">
      <img class="pokeball pokeball-spinner" src="../../../assets/pokeball.png" alt="pokeball">
    </div>
    <p>Loading...</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <button mat-raised-button color="primary" [matMenuTriggerFor]="animals">Items</button>
    <mat-menu #animals="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">Pocket Items</button>
      <button mat-menu-item [matMenuTriggerFor]="medicine">Medicine</button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="pokeballs">Pokeballs</button>
      <button mat-menu-item [matMenuTriggerFor]="amphibians">Medicine</button>
      <button mat-menu-item [matMenuTriggerFor]="berries">Berries</button>
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu>

    <mat-menu #medicine="matMenu">
      <button mat-menu-item (click)="selectItem('item-category/26/')">Vitamins</button>
      <button mat-menu-item (click)="selectItem('item-category/27/')">Healing</button>
      <button mat-menu-item (click)="selectItem('item-category/28/')">PP Recovery</button>
      <button mat-menu-item (click)="selectItem('item-category/29/')">Revival</button>
      <button mat-menu-item (click)="selectItem('item-category/30/')">Status Cures</button>
      <button mat-menu-item (click)="selectItem('item-category/50/')">Nature Mints</button>
    </mat-menu>

    <mat-menu #pokeballs="matMenu">
      <button mat-menu-item (click)="selectItem('item-category/33/')">Special Balls</button>
      <button mat-menu-item (click)="selectItem('item-category/34/')">Standard Balls</button>
      <button mat-menu-item (click)="selectItem('item-category/39/')">Apricorn Balls</button>
    </mat-menu>

    <mat-menu #amphibians="matMenu">
      <button mat-menu-item (click)="selectItem('item-category/26/')">Vitamins</button>
      <button mat-menu-item (click)="selectItem('item-category/27/')">Healing</button>
      <button mat-menu-item (click)="selectItem('item-category/28/')">PP Recovery</button>
      <button mat-menu-item (click)="selectItem('item-category/29/')">Revival</button>
      <button mat-menu-item (click)="selectItem('item-category/30/')">Status Cures</button>
      <button mat-menu-item (click)="selectItem('item-category/50/')">Nature Mints</button>
    </mat-menu>

    <mat-menu #berries="matMenu">
      <button mat-menu-item (click)="selectItem('item-category/2/')">Effort Drop</button>
      <button mat-menu-item (click)="selectItem('item-category/3/')">Medicine</button>
      <button mat-menu-item (click)="selectItem('item-category/5/')">In a Pinch</button>
      <button mat-menu-item (click)="selectItem('item-category/6/')">Picky Healing</button>
      <button mat-menu-item (click)="selectItem('item-category/7/')">Type Protection</button>
      <button mat-menu-item (click)="selectItem('item-category/8/')">Baking Only</button>
      <button mat-menu-item (click)="selectItem('item-category/48/')">Catching Bonus</button>
      <button mat-menu-item (click)="selectItem('item-category/4/')">Other</button>
    </mat-menu>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter a movement from the list" #input>
    </mat-form-field>
    <table class="table-move mat-elevation-z8" mat-table [dataSource]="dataSource">
      <!-- Sprite Column -->
      <ng-container matColumnDef="sprite">
        <th mat-header-cell *matHeaderCellDef>Sprite</th>
        <td mat-cell *matCellDef="let item"> <img [src]="item.sprites.default"> </td>
      </ng-container> 
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item"> {{ item.name }} </td>
      </ng-container>
      <!-- Cost Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef>Cost</th>
        <td mat-cell *matCellDef="let item"> {{ item.cost }} </td>
      </ng-container>
      <!-- Effect Column -->
      <ng-container matColumnDef="effect_entries">
        <th mat-header-cell *matHeaderCellDef>Effect</th>
        <td mat-cell *matCellDef="let item"> {{ item.effect_entries.effect }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[10]" showFirstLastButtons
      aria-label="Select page of moves">
    </mat-paginator>
  </div>
</div>