.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

h1 {
  font-size: 30px;
  text-align: center;
}

.content {
  width: 70%;
}

mat-form-field {
  width: 100%;
  margin-bottom: -2em;
}

.pokeball {
  width: 100px;
  height: 100px;
  margin-bottom: 1em;
}

.loading {
  justify-content: center;
  display: flex;
  font-weight: bold;
}

p {
  font-size: 20px;
  color: #222020;
  text-align: center;
}

table {
  width: 100%;
}

.title-move {
  background-color: #3f51b5; 
  padding: 10px; 
  color: white; 
  border-radius: 8px;
  margin-top: 1em;
  margin-bottom: -4px;
}


tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/* Spinner pokeball */
.pokeball-spinner {
  animation: spin 3s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 640px) {
  .content {
    width: calc(100% - 4%);
    margin: 2%;
  }

  .pokeball {
    width: 70px;
    height: 70px;
  }

  .title-move {
    font-size: 20px;
  }
  
}